<app-header></app-header>

<div class="titulo text-center mt-5">
  <h1>¿Quiénes somos?</h1>
</div>

<div class="mt-5 ml-3 mr-3">
  <p>
    En GetFit, nos comprometemos a ofrecerte más que un simple lugar para ejercitarte,
    nos esforzamos por ser tu compañero en el viaje hacia una vida más saludable y activa.
    Con un equipo de entrenadores dedicados, una amplia gama de equipos de última generación y
    una comunidad de apoyo, estamos aquí para ayudarte a alcanzar tus objetivos, superar
    tus límites y descubrir tu mejor versión. En cada paso del camino, estamos comprometidos a brindarte
    el ambiente, la motivación y el respaldo que necesitas para triunfar. ¡Únete a nosotros y juntos
    construiremos un camino hacia una vida más enérgica, plena y saludable!
  </p>
</div>

<div class="text-center mt-5">
  <h1>Nuestro personal</h1>
</div>

<div class="text-center mt-5">
  <h1>Dejanos una pregunta aqui</h1>
</div>
