<main>
  <div
    class="container-fluid bg-trasparent my-4 p-3"
    style="position: relative"
  >
    <div class="row row-cols-1 row-cols-xs-2 row-cols-sm-2 row-cols-lg-4 g-3">
      <div class="col">
        <div class="card h-100 shadow-sm">
          <img
            width="50%"
            src="../../../assets/cardPre1.jpeg"
            class="card-img-top"
            alt="..."
          />
          <div class="label-top shadow-sm">SIN PERMANENCIA</div>
          <div class="card-body">
            <div class="clearfix mb-3">
            </div>
            <h5 class="card-title">
              Así es, en GetFit tienes la máxima flexibilidad posible para darte de baja cuando desees
            </h5>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100 shadow-sm">
          <img
            width="50%"
            src="../../../assets/cardPre2.webp"
            class="card-img-top"
            alt="..."
          />
          <div class="label-top shadow-sm">AMPLIAS INSTALACIONES</div>
          <div class="card-body">
            <div class="clearfix mb-3">
            </div>
            <h5 class="card-title">
              Te ofrecemos diferentes zonas diferentes de entrenamiento para que hagas tu rutina como más te gusta.
            </h5>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100 shadow-sm">
          <img
            width="50%"
            src="../../../assets/cardPre3.webp"
            class="card-img-top"
            alt="..."
          />
          <div class="label-top shadow-sm">GRAN VARIEDAD DE ACTIVIDADES DIRIGIDAS</div>
          <div class="card-body">
            <div class="clearfix mb-3">
            </div>
            <h5 class="card-title">
              En GetFit no hay lugar para el aburrimiento. Encuentra las mejores actividades dirigidas.
            </h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

