<app-header></app-header>

<br> <br> <br>

<!-- <div style="background-size: cover; background-image: url(../../../assets/clasesgym.webp); min-height: 100vh;"> -->

  <div class="titulo text-center mt-5">
    <h1>Nuestro horario</h1>
  </div>

  <div class="container mt-5 px-2 text-center">
      <div class="table-responsive">
      <table class="table table-responsive table-borderless">

        <thead>
          <tr class="bg-light">
            <th scope="col" width="20%">Nombre</th>
            <th scope="col" width="20%">Descripcion</th>
            <th scope="col" width="20%">Fecha</th>
            <th scope="col" width="20%">Hora</th>
            <th scope="col" width="20%">Alumnos</th>
            <th scope="col" width="20%">Acciones</th>
          </tr>
        </thead>
        <tbody *ngFor="let clase of clases, let i = index">
          <tr>
            <td>{{ clase.nombre }}</td>
            <td>{{ clase.descripcion }}</td>
            <td>{{ clase.fechaInicio | date: 'dd/MM/yyyy' }}</td>
            <td>{{ clase.hora }}</td>
            <td>{{ clase.alumnos }}</td>
            <td><button class="btn btn-success" (click)="apuntarme(clase)">Apuntarme</button></td>
            <td *ngIf="currentUser?.rol === 'admin'"><button (click)="deleteClase(clase.id)" class="btn btn-danger">Eliminar</button></td>
          </tr>
        </tbody>
      </table>

      <div *ngIf="currentUser?.rol === 'admin' || currentUser?.rol === 'empleado'" class="mt-5">
        <button class="btn btn-primary mt-3 mb-3" (click)="muestraFormulario()">Añadir una clase</button>
      </div>

    <div *ngIf="mostrarFormulario" class="mt-5">
      <h2>Añadir nueva clase</h2>
      <form (ngSubmit)="createClase()">
        <div class="form-group input-group">
          <input [(ngModel)]="nuevaClase.nombre" name="nombre" class="form-control" placeholder="Nombre de la clase" type="text">
        </div>
        <div class="form-group input-group mb-3">
          <input [(ngModel)]="nuevaClase.descripcion" name="descripcion" class="form-control" placeholder="Descripcion de lo que se hará" type="text">
        </div>
        <div class="form-group input-group mb-3">
          <input [(ngModel)]="nuevaClase.fechaInicio" name="fechaInicio" class="form-control" placeholder="fecha" type="date">
        </div>
        <div class="form-group input-group mb-3">
          <input [(ngModel)]="nuevaClase.hora" name="hora" class="form-control" placeholder="hora" type="text">
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-success btn-block"> Añadir clase </button>
        </div>
      </form>
    </div>

    </div>

  </div>

<!-- </div> -->


